.navbar-items{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    font-family: 'Diphylleia', serif;
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    background-color: rgba(255, 255, 255, 0.4); 
}
.navbar-logo{
    color: #4A5440ff;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Diphylleia', serif;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color:#4A5440ff;
    font-size: 1.0rem;
    font-weight: 600;
    padding:0.7rem 1rem;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.nav-links i{
    padding-right: 10px;
}
.nav-links:hover{
    background-color: #76A6B7ff;
    color:#fff;
    /* border-radius: 4px; */
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.nav-links-mobile{
    display: none;
}
button{
    padding:0.5rem 1rem;
    white-space:nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    cursor:pointer;
    background-color: #4A5440ff;
    color: white;
    transition: all 0.2s ease-in-out;
    font-family: 'Diphylleia', serif;

}
button:hover{
    /* background-color: #151516;
    color:#fff; */
    background: #76A6B7ff;
        transition: none;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
}
.menu-icons{
    display: none;
}

@media screen and (max-width: 850px){
    .menu-icons{
        display: block;
        cursor: pointer;
    }
    .menu-icons i{
        font-size:1.2rem;
        color:#4A5440ff;
    }
    .navbar-items{
        z-index: 99;
        font-family: 'Diphylleia', serif;
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    background-color: rgba(255, 255, 255, 0.4); 
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background: white ; */
        width: 100%;
        height: auto;
        position:absolute;
        top:0;
        left:-100%;
        opacity: 0;
        align-items:stretch;
        padding:80px 0 30px 0;
        margin:0;
        /* transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; */
        transition: top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease-in-out; /* Adjust duration and easing */
        border-radius: 13px;
        font-family: 'Diphylleia', serif;
        backdrop-filter: blur(10px); /* Adjust the blur value as needed */
        background-color: rgba(255, 255, 255, 0.6); 
    }
    .nav-menu.active{
        background-color: rgba(255, 255, 255, 0.9);
        left: 0; 
        opacity: 1;
        z-index: -1; 
        /* transition: 0.3s ease-in-out; */
        /* transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
         */
         transition: top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease-in-out; /* Adjust duration and easing */

    }
    .nav-links{
        display:block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-links:hover{
        background: #76A6B7ff;
        transition: none;
        border-radius: 100px;
    }
    button{
        display: none;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin:auto;
        border-radius: 4px;
        widows: 80%;
        background: #4A5440ff;
        text-decoration: none;
        color:#fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        border-radius: 100px;

    }
    .nav-links-mobile:hover{
        background: #76A6B7ff;
    }
}
